.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 100%;
}

.auth-inner {
    width: 600px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    margin-top: 150px;
    transform: translate(-50%, 0%); 
}

.signin-inner {
    width: 500px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.auth-wrapper .form-group {
    margin-bottom: 1rem;
}

.auth-wrapper .form-group label{
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: justify;
}

.auth-wrapper .form-error .error{
    margin-bottom: 0px;
}

.auth-wrapper .form-check label{
    font-weight: unset;
}

.auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.auth-wrapper .btn-block {
    display: block;
    background-color: #137dc5;
    border-color: #137dc5;
    width: 100%;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    font-size: 1.75rem;
    font-family: 'Fira Sans', sans-serif;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #137dc5 !important;
    text-decoration: underline !important;
}

.error{
    color: red;
    font-size: 0.8em;
}

.form-error input, .form-error .form-control:focus, .form-error .form-control{
    border: 1px red solid;
}

.form span{
    color: red;
}