.main_img{
    /* object-fit: cover; */
    margin: 0%;
    height: 100vh;
    background: url('../../public/assets/main-page.png');
    background-color: #cccccc;
    background-size: cover;
    color: white;
}

.main-container{
    padding: 0%;
    margin: 0%;
    max-width: 100vw;
}

.main-container .row{
    margin: 0%;
}

.main-container .col-md-4, .main-container .col-md-8{
    padding: 0%;
}

.main_img_text p{
    color: white;
    font-size: 2.2vw;
    font-weight: bolder;
}

.main_img_text .sub-site-title{
    font-size: 1.7vw;
    font-weight: lighter;
}

.main_content{
    padding-top: 7em;
}

.main_content .content{
    margin-left: 8vw;
    margin-right: 2vw;
    text-align: justify;
}

.main_content .content img{
    height: 6em;
    margin-bottom: 20px;
}
.main_content .content p{
    margin-bottom: 30px;
}

.main_content .content a{
    width: 250px;
    background-color: #137DC5;
}

.navbar-brand img{
    height: 3em;
}

.fixed-top{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}