.visualization canvas {
    width: 80% !important;
    margin: auto;
    position: relative;
}

#search-bar-0-label {
    display: none;
}

.search-label ~ button, .search-label ~ button:hover {
    font-size: 16px;
    padding: 7px;
    margin-left: 10px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.search-label ~ div > button {
    float: right;
    margin-bottom: 15px;
    margin-right: 10px;
}



